Node-red smart sprinkler.txt
[{"id":"de0f68be.b09bf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1868875.640c879","type":"inject","z":"de0f68be.b09bf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":180,"wires":[["10eaec3b.8b8be4"]]},{"id":"10eaec3b.8b8be4","type":"debug","z":"de0f68be.b09bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"58d686fc.676658","type":"ibmiot in","z":"de0f68be.b09bf8","authentication":"apiKey","apiKey":"c18ce7cf.139898","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"ard123","applicationId":"","deviceType":"arduino","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":320,"wires":[["ad794ff2.c68df","b4f58fd0.ac5c3","10eaec3b.8b8be4"]]},{"id":"ad794ff2.c68df","type":"function","z":"de0f68be.b09bf8","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":300,"wires":[["10eaec3b.8b8be4","efe37781.38fe18"]]},{"id":"b4f58fd0.ac5c3","type":"function","z":"de0f68be.b09bf8","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["10eaec3b.8b8be4","8049eb99.082378"]]},{"id":"efe37781.38fe18","type":"ui_gauge","z":"de0f68be.b09bf8","name":"","group":"f6174bda.f12e48","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":320,"wires":[]},{"id":"8049eb99.082378","type":"ui_gauge","z":"de0f68be.b09bf8","name":"","group":"f6174bda.f12e48","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":400,"wires":[]},{"id":"fa478cd1.005f8","type":"ui_button","z":"de0f68be.b09bf8","name":"","group":"f6174bda.f12e48","order":3,"width":0,"height":0,"passthru":false,"label":"SPRINKLER ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"SPRINKLERON\"}","payloadType":"json","topic":"","x":250,"y":680,"wires":[["75994a0f.c6e914","cad06b26.518ee8"]]},{"id":"2ffc0210.cc21de","type":"ui_button","z":"de0f68be.b09bf8","name":"","group":"f6174bda.f12e48","order":4,"width":0,"height":0,"passthru":false,"label":"SPRINKLER OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"SPRINKLEROFF\"}","payloadType":"json","topic":"","x":250,"y":740,"wires":[["75994a0f.c6e914","cad06b26.518ee8"]]},{"id":"75994a0f.c6e914","type":"ibmiot out","z":"de0f68be.b09bf8","authentication":"apiKey","apiKey":"c18ce7cf.139898","outputType":"cmd","deviceId":"ard123","deviceType":"arduino","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":740,"wires":[]},{"id":"cad06b26.518ee8","type":"debug","z":"de0f68be.b09bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":660,"wires":[]},{"id":"b266c345.bfd33","type":"http in","z":"de0f68be.b09bf8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":240,"y":500,"wires":[["f4bb1f55.f102e"]]},{"id":"3f756108.2f84ae","type":"http response","z":"de0f68be.b09bf8","name":"","statusCode":"","headers":{},"x":700,"y":500,"wires":[]},{"id":"f4bb1f55.f102e","type":"function","z":"de0f68be.b09bf8","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":500,"wires":[["3f756108.2f84ae"]]},{"id":"3d09d43a.b6385c","type":"http in","z":"de0f68be.b09bf8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":580,"wires":[["f8cb5315.ba00e"]]},{"id":"6e4b429e.c945cc","type":"http response","z":"de0f68be.b09bf8","name":"","statusCode":"","headers":{},"x":720,"y":580,"wires":[]},{"id":"f8cb5315.ba00e","type":"function","z":"de0f68be.b09bf8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":580,"wires":[["6e4b429e.c945cc","f13e7812.3441d8","75994a0f.c6e914"]]},{"id":"f13e7812.3441d8","type":"debug","z":"de0f68be.b09bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":540,"wires":[]},{"id":"c18ce7cf.139898","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f6174bda.f12e48","type":"ui_group","z":"","name":"Default","tab":"3125dc4b.ab01b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"3125dc4b.ab01b4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]